<!doctype html>
<html>
  
  <h1>Sign Up</h1>
<form action="/signup" method="POST">
  <label for="username">Username: </label><br><br>
  <input type="text" name="username">
  <label for="email">Email: </label><br><br> 
  <input type="text" name="email">
  <label for="password">Password: </label><br><br>
  <input type="text" name="password">
  <button type="submit">Sign Up</button><br><br>
</form>
  
</html>